@using DietSystem.Data.Enum;
@using DietSystem.ViewModels;
@model EditIngredientVM;


<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Назва</label>
        <input asp-for="Name" class="form-control" placeholder="Назва інгрідієнту">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IngredientCategory">Категорія інгрідієнту</label>
        <select asp-for="IngredientCategory" asp-items="@Html.GetEnumSelectList<IngredientCategory>()" class="form-control form-control">
            <option>--Вибір--</option>
        </select>
        <span asp-validation-for="IngredientCategory" class="text-danger"></span>
    </div>
	<button type="submit" class="btn btn-primary">Змінити</button>
</form>