@using DietSystem.ViewModels
@using RunDietSystem.Data.Enum;
@using RunDietSystem.ViewModels;
@model NewDishVM

@{
    ViewData["Title"] = "Update dish";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Update dish</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MethodOfCooking">Method of cooking</label>
                                <input asp-for="MethodOfCooking" class="form-control" placeholder="Method of cooking">
                                <span asp-validation-for="MethodOfCooking" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DishCategory">Club Category</label>
                                <select asp-for="DishCategory" asp-items="@Html.GetEnumSelectList<DishCategory>()" class="form-control">
                                    <option selected="selected" value="">--Select--</option>
                                </select>
                                <span asp-validation-for="DishCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Calories">Calories</label>
                                <input asp-for="Calories" class="form-control" placeholder="Calories">
                                <span asp-validation-for="Calories" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Proteins">Proteins</label>
                                <input asp-for="Proteins" class="form-control" placeholder="Proteins">
                                <span asp-validation-for="Proteins" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fats">Fats</label>
                                <input asp-for="Fats" class="form-control" placeholder="Fats">
                                <span asp-validation-for="Fats" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Carbohydrates">Carbohydrates</label>
                                <input asp-for="Carbohydrates" class="form-control" placeholder="Carbohydrates">
                                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
                            </div>                         
                            <div class="form-group">
                                <label asp-for="IngredientIds" class="control-label"></label>
                                <select asp-for="IngredientIds" class="form-control" asp-items="ViewBag.Ingredients" multiple></select>
                                <span asp-validation-for="IngredientIds" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image">Image</label>
                                <input asp-for="Image" type="file" class="form-control" placeholder="Image">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>                                                                                           
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>


@*<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MethodOfCooking">Method of cooking</label>
        <input asp-for="MethodOfCooking" class="form-control" placeholder="Method of cooking">
        <span asp-validation-for="MethodOfCooking" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DishCategory">Club Category</label>
        <select asp-for="DishCategory" asp-items="@Html.GetEnumSelectList<DishCategory>()" class="form-control">
            <option selected="selected" value="">--Select--</option>
        </select>
        <span asp-validation-for="DishCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Calories">Calories</label>
        <input asp-for="Calories" class="form-control" placeholder="Calories">
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Proteins">Proteins</label>
        <input asp-for="Proteins" class="form-control" placeholder="Proteins">
        <span asp-validation-for="Proteins" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fats">Fats</label>
        <input asp-for="Fats" class="form-control" placeholder="Fats">
        <span asp-validation-for="Fats" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carbohydrates">Carbohydrates</label>
        <input asp-for="Carbohydrates" class="form-control" placeholder="Carbohydrates">
        <span asp-validation-for="Carbohydrates" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>*@